In [1]:
from sklearn.decomposition import PCA
import pandas as pd
import os
import json
import numpy as np

In [2]:
META_DIR = "results-metadata/"
DIR = "results/final/"

In [3]:
os.listdir(META_DIR)

['abalone-cleaned-meta.json',
 'column_2C-meta.json',
 'column_3C-meta.json',
 'data_banknote_authentication-meta.json',
 'ecoli-meta.json',
 'mammographic_masses-cleaned-meta.json',
 'seed-meta.json',
 'SomervilleHappinessSurvey2015-cleaned-meta.json',
 'transfusion-meta.json',
 'user-knowledge-meta.json']

In [4]:
os.listdir(DIR)

['abalone-cleaned-scored-bayes.json',
 'abalone-cleaned-scored-knn.json',
 'abalone-cleaned-scored-svm.json',
 'abalone-cleaned-scored-tree.json',
 'column_2C-scored-bayes.json',
 'column_2C-scored-knn.json',
 'column_2C-scored-svm.json',
 'column_2C-scored-tree.json',
 'column_3C-scored-bayes.json',
 'column_3C-scored-knn.json',
 'column_3C-scored-svm.json',
 'column_3C-scored-tree.json',
 'data_banknote_authentication-scored-bayes.json',
 'data_banknote_authentication-scored-knn.json',
 'data_banknote_authentication-scored-svm.json',
 'data_banknote_authentication-scored-tree.json',
 'ecoli-scored-bayes.json',
 'ecoli-scored-knn.json',
 'ecoli-scored-svm.json',
 'ecoli-scored-tree.json',
 'mammographic_masses-cleaned-scored-bayes.json',
 'mammographic_masses-cleaned-scored-knn.json',
 'mammographic_masses-cleaned-scored-svm.json',
 'mammographic_masses-cleaned-scored-tree.json',
 'seed-scored-bayes.json',
 'seed-scored-knn.json',
 'seed-scored-svm.json',
 'seed-scored-tree.json',
 'SomervilleHappinessSurvey2015-cleaned-scored-bayes.json',
 'SomervilleHappinessSurvey2015-cleaned-scored-knn.json',
 'SomervilleHappinessSurvey2015-cleaned-scored-svm.json',
 'SomervilleHappinessSurvey2015-cleaned-scored-tree.json',
 'transfusion-scored-bayes.json',
 'transfusion-scored-knn.json',
 'transfusion-scored-svm.json',
 'transfusion-scored-tree.json',
 'user-knowledge-scored-bayes.json',
 'user-knowledge-scored-knn.json',
 'user-knowledge-scored-svm.json',
 'user-knowledge-scored-tree.json']

In [5]:
import json

In [6]:
data = []
for file_name in os.listdir(META_DIR):
    with open(META_DIR + file_name, "r") as f:
        row = json.load(f)
        row['dataset'] = file_name.split('-')[0]
        data.append(row)

In [7]:
metaDf = pd.DataFrame(data=data)

In [8]:
data = []
for file_name in os.listdir(DIR):
    with open(DIR + file_name, "r") as f:
        row = json.load(f)
        row['dataset'] = file_name.split('-')[0]
        data.append(row)

In [9]:
detailsDf = pd.DataFrame(data=data)

In [10]:
metaDf.head()

,attr_class,class_entropy,class_int,dataset,mean_0,mean_1,mean_2,mean_3,median_0,median_1,median_2,median_3,skewnes_0,skewnes_1,skewnes_2,skewnes_3,std_0,std_1,std_2,std_3
0,0.357143,3.602007,0.006703,abalone,1.600082e-17,-3.447353e-17,2.209548e-16,2.591495e-18,0.194419,0.023326,0.017557,-0.000441,-0.281982,0.108201,0.009246,0.338638,0.720285,0.582387,0.381490,0.062013
1,3.000000,0.907166,0.006452,column_2C,9.397501e-16,6.647013e-16,-6.423894e-15,-5.157165e-16,-11.464846,0.519327,-0.615850,-0.160067,2.764595,0.992103,0.390842,0.372112,42.201827,18.582978,13.739614,10.296501
2,2.000000,1.491860,0.009677,column_3C,9.397501e-16,6.647013e-16,-6.423894e-15,-5.157165e-16,-11.464846,0.519327,-0.615850,-0.160067,2.764595,0.992103,0.390842,0.372112,42.201827,18.582978,13.739614,10.296501
3,2.000000,0.991128,0.001458,data_banknote_authentication,5.097963e-16,1.050666e-15,-9.943455e-16,2.078027e-16,-0.992104,-0.191495,0.392929,-0.222020,0.708894,0.628034,-0.168786,0.407427,7.062588,3.049143,2.095433,1.396198
4,0.875000,2.188746,0.023810,ecoli,-4.444196e-17,5.468509e-17,-2.412092e-17,-9.251859e-18,-0.067623,-0.029203,-0.003758,0.006932,0.375530,0.404444,0.299293,-0.253348,0.299504,0.206007,0.120965,0.113506

In [11]:
detailsDf.head()

,Algorithm,TimeTaken,best_estimator,best_score,dataSet,dataset,njobs,testing_score,training_score
0,Naive Bayes,0.352609,GaussianNB(),0.101950,abalone-cleaned-scored,abalone,3,0.099681,0.101950
1,KNN,1.225724,"KNeighborsClassifier(metric='manhattan', n_nei...",0.257607,abalone-cleaned-scored,abalone,3,0.271132,0.338693
2,SVC,414.777605,"SVC(C=1000, gamma=0.1)",0.272662,abalone-cleaned-scored,abalone,3,0.305423,0.305508
3,DecisionTree,3.165535,"DecisionTreeClassifier(max_depth=5, min_sample...",0.258647,abalone-cleaned-scored,abalone,3,0.282297,0.312692
4,Naive Bayes,0.001995,GaussianNB(),0.780172,column_2C-scored,column_2C,3,0.794872,0.780172

In [12]:
del detailsDf['TimeTaken']
del detailsDf['best_estimator']
del detailsDf['njobs']
del detailsDf['dataSet']

In [13]:
detailsDf.head()

      Algorithm  best_score    dataset  testing_score  training_score
0   Naive Bayes    0.101950    abalone       0.099681        0.101950
1           KNN    0.257607    abalone       0.271132        0.338693
2           SVC    0.272662    abalone       0.305423        0.305508
3  DecisionTree    0.258647    abalone       0.282297        0.312692
4   Naive Bayes    0.780172  column_2C       0.794872        0.780172

In [14]:
assert(set(list(detailsDf.dataset)) == set(list(metaDf.dataset)))

In [15]:
df = pd.merge(left=metaDf, right=detailsDf, on = 'dataset', how = 'inner')

In [16]:
df.to_csv('dataset.csv', index = False)